[2015-02-14 07:36] DHANDAPANISATTANATHAN opened #1 "ISSUE IN ALLIANCE TS"
![issue](https://cloud.githubusercontent.com/assets/9882142/6198959/2dc3d950-b44a-11e4-8897-6b7ea47e7c6b.png)

[2015-02-15 11:55] rajagunasekaran commented on #1
all issues are fixed

[2015-02-15 11:55] #1 closed

[2015-02-16 12:30] DHANDAPANISATTANATHAN opened #2 "ATTACH FILE ISSUE"
1.WHEN CREATING LOGIN ATTACH FILE SAVED IN GDRIVE , BUT CANNT OPEN AND SEE THAT ONE.
2.END USER CAN UPLOAD THE DOCUMENT IN ANY LOCATION.
3. IF SUPER ADMIN NOT IN ATS, UPDATE REPORT SHLD SHOW ERR MSG/ UPDATED MAIL SEND TO ADMIN.(NOW PRELOADER NOT DISAPPEAR)

[2015-03-03 14:41] DHANDAPANISATTANATHAN opened #3 "LMC TS ISSUES"
![lmc defect](https://cloud.githubusercontent.com/assets/9882142/6464622/7aaa00d8-c1e1-11e4-8870-c092c42ac3a2.png)

[2015-03-13 09:49] DHANDAPANISATTANATHAN opened #4 "LMC TS ISSUE"
![issue_lmc_12032015](https://cloud.githubusercontent.com/assets/9882142/6636250/43660986-c994-11e4-9cea-598fbf4a8bbf.png)

[2015-03-13 10:02] #4 closed

[2015-03-16 14:30] DHANDAPANISATTANATHAN opened #5 "REPORT NOT SAVED"
DEFECT OWNER:RAJA,SL,RL

![lmc_16032015](https://cloud.githubusercontent.com/assets/9882142/6668152/dd142f3e-cc16-11e4-9e09-66e41c20a100.png)

[2015-03-18 10:11] DHANDAPANISATTANATHAN opened #6 "LMC ISSUE"
![lmc_18032015](https://cloud.githubusercontent.com/assets/9882142/6706602/19a3b1a8-cd85-11e4-9184-498efdd92ceb.png)

[2015-03-20 04:01] DHANDAPANISATTANATHAN opened #7 "LMC ISSUE"
![lmc_19032015](https://cloud.githubusercontent.com/assets/9882142/6745860/c4f1047a-cee3-11e4-870b-3bf3c48889a4.png)

[2015-03-21 11:21] DHANDAPANISATTANATHAN opened #8 "LMC DEFECT"
<h4>DEFECT OWNER: SAFI,LL,SKL,RAJA

TARGET TODAY
DEFECT FOUND YESTERDAY DELIVERY

![lmc_21032015](https://cloud.githubusercontent.com/assets/9882142/6764822/b307af6e-cfe9-11e4-84a5-a0a222c2bd01.png)

[2015-03-25 16:15] DHANDAPANISATTANATHAN opened #9 "LMC CLIENT FEED BACK"
<H3>LMC CLIENT FEED BACK

**OWNER:SKL ND RAJA**

TARGET : DELY DATE 27/03/2015

https://docs.google.com/a/ssomens.com/document/d/1B59btHFW32RjZxpqHlmcCSvmJ_pB-xlImzaanbiBZEs/edit#

[2015-04-04 08:21] DHANDAPANISATTANATHAN opened #10 "LMC ISSUE_04042015"
DEFECT OWNRS: LMC TEAM

![lmc_02042015](https://cloud.githubusercontent.com/assets/9882142/6991990/8cc56204-dad1-11e4-84cb-77cf24b12441.png)

[2015-04-18 03:43] DHANDAPANISATTANATHAN opened #11 "LMC CR"
**TASK OWNER: SKL,RAJA & SQL TEAM**

TARGET DATE:20/04/2015

add these(Drive URL fr screenshots) values in DB nd make it as a DD box in the FORM fr these PARTS oly, also add possibility to update or add more values in SETTINGS PAGE:

https://drive.google.com/a/ssomens.com/file/d/0B0KangOyYg_pTG9IdWxlNDFkeTNLQW16ZWNpZFZNdFNPdEs4/view

https://drive.google.com/a/ssomens.com/file/d/0B0KangOyYg_pVEQ4N

[2015-04-22 12:36] DHANDAPANISATTANATHAN opened #12 "LMC ISSUE NOT SHOW ERR MSG"
**SKL & RAJA,**

**DEFECT OWNER: SKL**

Defect opened to sql team.Check below.but while testing why u didnt show err msg. Nothing showed.Also report preloader not disappear bcz of below issue

https://github.com/SSOMENSREPO/LMC-TS-SQL/issues/1

[2015-04-22 12:55] SasikalaDjeasankar commented on #12
SHOWED ERROR MESSAGE WHEN QUERY RETURNS ERROR, UPDATED THE SCRIPT IN REMOTE SERVER.

FILENAME: FORM_CONFIGURATION_ENTRY.php

[2015-04-22 12:55] #12 closed

[2015-04-22 14:22] DHANDAPANISATTANATHAN opened #13 "LMC ISSUE IN REPORT"
**DEFECT OWNER: SKL
TASK OWNER:RAJA**

1.if TOOLBOX MEETING - REMARKS  not entered report not saved
2.Remove the paint tool mandatory * from form.
3.If JOB DONE pipe laid M / MM, if M entered MM not entered report not saved.

Clear these issue and dely before 11 am 23/04/2015

[2015-04-23 07:40] Rajagunasekaran commented on #13
Above opened issues are fixed

[2015-04-23 07:40] #13 closed

[2015-04-25 12:12] DHANDAPANISATTANATHAN commented on #11
PAINT TOOL HAS ISSUE FIX AND DELY

[2015-04-27 13:09] punithavimalraj commented on #11
PAINT ISSUE FIXED

https://github.com/SSOMENSREPO/LMC-TS/releases/tag/v0.7

[2015-04-27 13:09] #11 closed

[2015-04-28 07:32] DHANDAPANISATTANATHAN opened #14 "LMC PAINT TOOL ISSUE"
**DEFECT OWNER: SL**

ERASER TOOL CAN ERASE PERMANENTLY.DONT HIDE WITH WHITE COLOR.

[2015-05-15 05:18] saradambal commented on #14
We cant do eraser in fabric js. Becoz. the all shapes creating by objects. Before i cant see any issues with white color so on that time i didnt prefer to eraser tool.

Referred:
https://github.com/kangax/fabric.js/issues/1225

[2015-06-20 12:09] DHANDAPANISATTANATHAN opened #15 "LMC ADD ON TASKS"
<h3>TASK OWNER: SKL, RAJA & SQL TEAM,</h3>

<h2>LMC ADD ON TASKS<h2>

<h1>Duration : 22/06/2015 - 30/06/2015<h1>

Task and Details assigned in the below links.

https://docs.google.com/document/d/1SwYeM3_IohKQeBkvVoBOkGoqsy0T5lgzeS4btcGLNyI/edit
https://docs.google.com/spreadsheets/d/111bqz_SxNy15DnFh90MFGgijCaEBJO-RYdgt78WkWC0/edit#gid=1339283219
https://drive.google.com/drive/folders/0B_f0d7mdbV

[2015-06-20 13:14] DHANDAPANISATTANATHAN commented on #15
LMC TEAM,

all files nd rename files as per new nomenclatures,menu structure!

[2015-07-07 07:51] DHANDAPANISATTANATHAN opened #16 "LMC FEED BACK ON 07/07/2015"
CHANGE AND DELY IMMEDIATLEY
MENU PART DONT CHANGE, USER CAN SEE THEIR MENU ONLY, NOW I CAN SEE NULL.

![lmc_07072015](https://cloud.githubusercontent.com/assets/9882142/8541325/edfa9f9e-24aa-11e5-9ce9-b1c9caeff297.png)

[2015-11-25 14:09] DHANDAPANISATTANATHAN opened #17 "LMC CR - 19112015"
@SasikalaDjeasankar  ND @RAJALAKSHMIRAJKUMAR

Target to Deliver : 26/11/2015 - 11 am ( Form design only first). Full deliver EoD

(A) Create Contract

Add "Contract Title" field (free text input)
Payment Terms (35 days by default, other options to be 30 Days, C.O.D and 7 days)
Remove "Next Number" field
Remove "Type" field
Created On will be changed to Commencement Date
End on will be changed to C

[2015-11-26 12:32] SasikalaDjeasankar commented on #17
As Per the above CR completed the form design with save and update.

Except this point:{ Workman + Number of Hours + ManHours } This will be on KIV until further update. having doubt.

####  Status: DONE

[2015-11-27 05:01] DHANDAPANISATTANATHAN opened #18 "ACE DEFECT LIST ON 25/11/2015"
@SasikalaDjeasankar

Fix the ace defect on 25/11/2015

https://docs.google.com/document/d/1EhV1Y2XhRrZXNj3xCG6bIDO9u8wdUOb8WSQv5zN8QWc/edit

[2015-11-27 05:34] DHANDAPANISATTANATHAN commented on #18
Wrongly opened in this repo

[2015-11-27 05:34] #18 closed

[2015-12-17 07:32] DHANDAPANISATTANATHAN opened #19 "LMC ISSUE - 17122015"
@SasikalaDjeasankar

Check the below and fix immediately
https://github.com/SSOMENSREPO/MARKETING/issues/5

[2015-12-17 10:21] DHANDAPANISATTANATHAN commented on #19
@SasikalaDjeasankar

bcz of CR in Contract team assign changed to maintenance

This impact in below forms

1.Report submission entry/search/update
2.INVENTORY SITE STOCK ( Form only we designed and gave to client,After that we didnt get any correction)

3.COMPANY: LIH MING CONSTRUCTION PTE LTD, get from DB.

dont use hardcode.

[2015-12-17 14:17] DHANDAPANISATTANATHAN commented on #19
@SasikalaDjeasankar

Delivery date: 17/12/2015

[2015-12-18 09:22] SasikalaDjeasankar commented on #19
As per the above opened task point (1) and (3) Completed and uploaded the script in DEV Server.

#### Status:Done

[2016-01-19 11:04] DHANDAPANISATTANATHAN opened #20 "LMC ADD ON - 18012016"
# TEAM : SKL, AI,KK,BC & SQL

# START LMC ADD ON REFER THE BELOW SS.

https://docs.google.com/spreadsheets/d/1KSpSv1D6qHarRluGkCrxDxgROTqWeLa8akEMTceJPp0/edit#gid=252296519

[2016-01-20 05:45] SasikalaDjeasankar commented on #20
As per Sn Sir told, LMC addon put on hold and started working in premium.

#### Status :Onhold

[2016-02-08 12:46] DHANDAPANISATTANATHAN opened #21 "LMC ISSUE - FEB 2016"
@ LMC TEAM

# FIX THE BELOW ISSUE

![lmc_08022016](https://cloud.githubusercontent.com/assets/9882142/12885951/026bcf5e-ce90-11e5-8ac2-87801c5fef0b.png)

UPDATE THE DEFECT OWNER IN THIS SS.

https://docs.google.com/spreadsheets/d/1KSpSv1D6qHarRluGkCrxDxgROTqWeLa8akEMTceJPp0/edit#gid=1220205652

[2016-02-09 03:09] DHANDAPANISATTANATHAN commented on #21
# LMC TEAM,

# this week shld close LMC.
# fix all def also.

# import excel not working in UAT.

[2016-02-09 14:23] DHANDAPANISATTANATHAN commented on #21
# WHILE CREATING WORKER, FOLDER NOT CREATING.

[2016-02-17 07:52] DHANDAPANISATTANATHAN commented on #21
@ LMC TEAM

Update all lmc doubts in SS and give me the latest script to me immediately!

[2016-02-17 09:12] SasikalaDjeasankar commented on #21
Updated All doubts in SS. All Latest script uploaded in Dev Server.
##### Status :Done

[2016-03-17 09:43] DHANDAPANISATTANATHAN commented on #21
# LMC TEAM,

Immediately Update if you have any doubts reg LMC project. Plz confirm in this tracker all Developer.

https://docs.google.com/spreadsheets/d/1KSpSv1D6qHarRluGkCrxDxgROTqWeLa8akEMTceJPp0/edit#gid=252296519

[2016-03-17 09:44] DHANDAPANISATTANATHAN commented on #21
# NOTE : Dont tell later. Now ask all doubts

[2016-03-17 10:47] DHANDAPANISATTANATHAN commented on #21
@SasikalaDjeasankar

I m waiting, Enter all your doubts reg LMC first then do other work!

[2016-03-17 11:21] SasikalaDjeasankar commented on #21
Updated All doubts in Below SS, Already some doubts and all onhold there that also need to get approve.

https://docs.google.com/spreadsheets/d/1KSpSv1D6qHarRluGkCrxDxgROTqWeLa8akEMTceJPp0/edit#gid=1759529816

SHEETNAME:DOUBTS

[2016-03-18 05:11] DHANDAPANISATTANATHAN opened #22 "LMC ISSUE ON 17/03/2016"
# LMC TEAM,

# FIX THIS IMMEDIATELY

![lmc_17032016](https://cloud.githubusercontent.com/assets/9882142/13869054/ef6dfe98-ecf5-11e5-9d45-b4c7bf2884ff.png)

[2016-03-19 03:23] DHANDAPANISATTANATHAN commented on #22
# LMC TEAM,

All fixed issue shld dely before 11 am today.Also I hope all asked doubts, dont tell later any doubts.

Follow the DD date as per the SS

[2016-03-19 03:59] DHANDAPANISATTANATHAN commented on #22
@RAJALAKSHMIRAJKUMAR

Clear all your doubts reg LMC. also check Admin upload excel and Storeman inventory stock,
Will close this today 11 am!

[2016-03-19 11:29] DHANDAPANISATTANATHAN commented on #22
# DEF OWNER: SKL

# Cannt finish my testing bcz of the below issue

![defect1](https://cloud.githubusercontent.com/assets/9882142/13898334/e52da95c-edf3-11e5-9398-731412447587.png)

[2016-03-19 11:45] SasikalaDjeasankar commented on #22
Field Missing in UAT, Latest Table not in UAT schema that's why record not saved came.

[2016-03-19 11:50] DHANDAPANISATTANATHAN commented on #22
* status: Rejected
# owner: AI,BC,SKL,KK
# Delivered Latest script all rejected.
# Reason : no proper comments in ver.....each file

Redeliver immediately

[2016-03-19 11:51] RAJALAKSHMIRAJKUMAR commented on #22
Date of verification field missed in work done verification now i alter this table in uat nw u check.

[2016-03-19 13:45] KAVINKARNAN commented on #21
For INVENTORY STOREMAN STOCK -using id we are saving all contract no..now we changed to auto complete we cannot set id ,so sp also need to change so that we cant delay today.

[2016-03-19 13:50] DHANDAPANISATTANATHAN commented on #22
# DEF OWNER: LMC TEAM

# SHLD FIX EoD 21/03/2016
![lmc_19032016](https://cloud.githubusercontent.com/assets/9882142/13898937/9490edc4-ee07-11e5-925d-a324b5e93cc4.png)

[2016-03-21 11:30] DHANDAPANISATTANATHAN opened #23 "LMC CR fully Not Completed"
@SasikalaDjeasankar

# Why As per Client SS. PPT & Scanned image most of the forms not completed? But updated status all completed.

# Storeman  Inv = You missed on PPT slide
# Work order creation= You missed amt validation.
...
....

Like this while digging i m getting. Why like this?

Reply & all these shld fix  and dely to 22/03/2016.

As per the SS what client asked We shld complete.

[2016-03-22 05:53] DHANDAPANISATTANATHAN commented on #23
@SasikalaDjeasankar

Check and reply this!

[2016-03-22 05:58] DHANDAPANISATTANATHAN commented on #22
# DEFECT ON 21/03/2016

# FIX THE BELOW IMMEDIATELY

![lmc_21032016](https://cloud.githubusercontent.com/assets/9882142/13943263/cb729c5a-f020-11e5-8fb9-0ca31cb6f946.png)

[2016-03-22 09:48] DHANDAPANISATTANATHAN opened #24 "LMC DEFECT ON 22/03/2016"
# LMC TEAM,

# FIX ALL THE BELOW DEFECT BY TODAY

![lmc_22032016](https://cloud.githubusercontent.com/assets/9882142/13947551/3f6af89e-f041-11e5-9178-8ffd0abebd65.png)

[2016-03-23 04:26] DHANDAPANISATTANATHAN commented on #24
# FIX ALL BY TODAY 12 NOON

![lmc_22032016_1](https://cloud.githubusercontent.com/assets/9882142/13975624/6c261fa2-f0dd-11e5-98b8-686530adabb9.png)

[2016-03-23 05:30] BalachandarNatarajan commented on #24
@RAJALAKSHMIRAJKUMAR

SP NEED TO CHANGE BECAUSE OF DROP DOWN CHANGED TO AUTO COMPLETE IN INVENTORY REPORT AND FITTING LIST REPORT .

[2016-03-23 05:38] arthisena commented on #24
@RAJALAKSHMIRAJKUMAR
1.IN REPORT ENTRY AND UPDATE FOR SAVING FITTING LIST WE SENDING ID TO SAVE THE VALUE .BECAUSE OF ID ITS NOT UPDATING IN UPDATE FORM SO SP SIDE NEED TO CHANGE IT
2.FOR INVENTORY STORE MAN STOCK SP SIDE NEED TO CHANGE BECAUSE LOCATION IS CHANGING TO SELF TYPE

[2016-03-23 06:03] DHANDAPANISATTANATHAN commented on #24
@RAJALAKSHMIRAJKUMAR

Unblock AI!

[2016-03-23 06:04] sophiyaB commented on #24
@RAJALAKSHMIRAJKUMAR

Notification that there forms awaiting processing/approval/etc. Want Query for this notification.

[2016-03-23 06:05] RAJALAKSHMIRAJKUMAR commented on #24
@DHANDAPANISATTANATHAN
I am doing all thing one by one i complete n give. No one i blocking.

[2016-03-23 06:06] RAJALAKSHMIRAJKUMAR commented on #24
@arthisena

Report sp & inventory store man sp changed i ran in dev schema.

[2016-03-23 06:26] DHANDAPANISATTANATHAN opened #25 "LMC DEFECT ON 23032106"
# TASK OWNER: SO
# FIX AND DELY IMMEDIATELY
# DEF OWNER: AI, KK

![lmc_23032016](https://cloud.githubusercontent.com/assets/9882142/13977336/2701cbae-f0ee-11e5-8fd6-fe8142b8c8f9.png)

[2016-03-23 08:01] RAJALAKSHMIRAJKUMAR commented on #24
@BalachandarNatarajan
Changed inventory fitting list report sp n ran in dev schema.

[2016-03-23 08:37] DHANDAPANISATTANATHAN opened #26 "LMC DEFECT ON 23032016"
# FIX THE BELOW TODAY ITSELF
#DEF = ALL FORM OWNERS

![lmc_23032016_1](https://cloud.githubusercontent.com/assets/9882142/13979742/8cdfed5e-f100-11e5-88b3-2233c7e18b6f.png)

[2016-03-23 10:50] sophiyaB commented on #25
ALL THE PDF AND EXCEL ISSUE SHOWING IN THE ABOVE TASK - COMPLETED

[2016-03-23 12:08] SasikalaDjeasankar commented on #26
@RAJALAKSHMIRAJKUMAR

Add One field for attachment filename in table also change SP for verification for workdone.

[2016-03-23 12:35] RAJALAKSHMIRAJKUMAR commented on #26
@SasikalaDjeasankar
attachment filename added in verification for workdone table & sp i ran in dev schema.

[2016-03-23 12:39] DHANDAPANISATTANATHAN commented on #26
# fix the below

![lmc_23032016-2](https://cloud.githubusercontent.com/assets/9882142/13985344/3f36f9fe-f122-11e5-896f-210eca57e41d.png)

[2016-03-23 13:45] arthisena commented on #24
1.cleared the opened issue for INVENTORY STORE MAN STOCK
2.IN INVENTORY STORE MAN STOCK,SINCE ITEM ID IS AUTO COMPLETE WE CAN'T GET THE VALUE  OF IT SO  NEED TO CHECK IT,THEN SP SIDE ALSO NEED TO CHANGE

[2016-03-23 13:47] RAJALAKSHMIRAJKUMAR commented on #26
@DHANDAPANISATTANATHAN

SQL SIDE BELOW THINGS PENDING

1.Where ever amount field cumming there need to give maximum decimal data. (sp & table also need to change)
2.Audit history sp need to check
3.Inventory issue item, return item sp need to change

[2016-03-23 14:27] BalachandarNatarajan commented on #26
NEED TO CHANGE THE DT ALIGNMENT IN INVENTORY REPORT FORMS. MONTHLY FILTER IS PARTIALLY COMPLETED.

[2016-03-23 14:52] DHANDAPANISATTANATHAN commented on #26
# DEF OWNER: @SasikalaDjeasankar

![lmc_23032016_3](https://cloud.githubusercontent.com/assets/9882142/13989103/e5561c2c-f134-11e5-9192-c192b37f0759.png)

[2016-03-24 05:03] DHANDAPANISATTANATHAN commented on #26
# DEF OWNER: RL

# Why user role has more menu? Immediately change

![image](https://cloud.githubusercontent.com/assets/9882142/14008784/1fa23660-f1ab-11e5-8a1a-8abf56ce91db.png)

# STOREMAN  form changed to SKL

# AI - Note this Your task transfer to other person.You shld produce o/p quickly.We are counting you performance.

[2016-03-24 05:44] DHANDAPANISATTANATHAN commented on #26
@arthisena

# USER ROLE - WORKER PROFILE MENU NOT LOADING FIX IT QUICKLY

[2016-03-24 06:06] arthisena commented on #26
1.STATUS:FIXED

[2016-03-24 06:08] RAJALAKSHMIRAJKUMAR commented on #26
removed inventory in user menu i ran in int, uat & dev nw u check.

[2016-03-24 06:12] SasikalaDjeasankar commented on #26
@RAJALAKSHMIRAJKUMAR

CHANGE THE STOREMAN STOCK SP PER THE NEW FORM DESIGN(WITH ITEM ID)

[2016-03-24 06:38] RAJALAKSHMIRAJKUMAR commented on #26
@SasikalaDjeasankar

STORE MAN STOCK SP CHANGED AS PER THE NEW FORM DESIGN(WITH ITEM ID) n ran in dev schema.

[2016-03-24 06:38] KAVINKARNAN commented on #26
@RAJALAKSHMIRAJKUMAR

NEED TO ADD EXTRA ONE PARAMETER FOR MACHINERY USAGE IN CONTRACT FORM.

[2016-03-24 07:15] RAJALAKSHMIRAJKUMAR commented on #26
@KAVINKARNAN

ADDED EXTRA ONE PARAMETER FOR MACHINERY USAGE IN CONTRACT INSERT, UPDATE SP N RAN IN DEV SCHEMA.

[2016-03-24 07:37] DHANDAPANISATTANATHAN commented on #26
# AI

# Urgent change and give quickly
# Pass id to SP in Daily Report these fields location, site stock details

[2016-03-24 07:48] DHANDAPANISATTANATHAN commented on #26
# KK

# contract no is unique - restrict in form

[2016-03-24 10:01] DHANDAPANISATTANATHAN commented on #26
@SasikalaDjeasankar ,SO , AI

![lmc_24032016](https://cloud.githubusercontent.com/assets/9882142/14013958/75943792-f1d5-11e5-82dc-e1b755305855.png)

[2016-03-24 10:27] RAJALAKSHMIRAJKUMAR commented on #26
@arthisena

Report submission insert, update sp changed n ran in dev schema.

[2016-03-24 11:58] DHANDAPANISATTANATHAN commented on #26
@RAJALAKSHMIRAJKUMAR

Reply this below immediately!

![image](https://cloud.githubusercontent.com/assets/9882142/14016361/c7aa6fb4-f1e5-11e5-935f-b3c088e06a72.png)

[2016-03-24 12:02] RAJALAKSHMIRAJKUMAR commented on #26
Am only assumed like that nw i changed query n given to sophiya.

[2016-03-24 13:34] DHANDAPANISATTANATHAN commented on #26
@sophiyaB

# CC  pdf give correct spelling in header. refer the excel

# follow any one pending and draft bill showing qry in diff col

[2016-03-24 14:27] DHANDAPANISATTANATHAN commented on #26
# def owner: BC

Report wrongly showing, which day drawn , that day only shld display, now whole week showing correct and deliver

![image](https://cloud.githubusercontent.com/assets/9882142/14019812/83842e00-f1fa-11e5-9534-bc05d2e5c2eb.png)

[2016-03-25 04:45] SasikalaDjeasankar commented on #26
1.Above opened issues regarding wordone Form.
2.As per the Task STOREMAN Form Finished and fixed the issues.

### Status :fixed

[2016-03-25 06:27] BalachandarNatarajan commented on #26
SP NEED TO CHANGE TO FIX THE  WEEKLY REPORT SHOWING WRONGLY  IN INVENTORY REPORT FORM.

[2016-03-25 06:28] sophiyaB commented on #26
CC PDF SPELLING CORRECTED.
DRAFT BILL ISSUE FIXED

[2016-03-25 06:51] sophiyaB commented on #26
@SasikalaDjeasankar
VERFICATION OF WORK DONE NOT SAVING

![25-03-2016 12-18-25 pm](https://cloud.githubusercontent.com/assets/16128538/14039592/ec50cf86-f283-11e5-8d3c-5ee73701e229.png)

[2016-03-25 06:59] sophiyaB commented on #26
PAYMENT CLAIM FORM
NOT SAVED IN VWD BUT SHOWING IN PAYMENT CLAIM FORM

![25-03-2016 12-26-38 pm](https://cloud.githubusercontent.com/assets/16128538/14039720/1bda0ed8-f285-11e5-82d2-522db8b7c7eb.png)

[2016-03-25 08:26] RAJALAKSHMIRAJKUMAR commented on #26
@BalachandarNatarajan

STOREMAN WEEKLY REPORT SP CHANGED IN RAN IN DEV SCHEMA.

[2016-03-26 06:28] DHANDAPANISATTANATHAN opened #27 "LMC DEFECT ON 26032016"
@KAVINKARNAN

Tested in INT LMC
After implementing Check constraint in Import.Count showing wrongly

![image](https://cloud.githubusercontent.com/assets/9882142/14058274/3c1cbb48-f341-11e5-8ebe-96825a863486.png)

[2016-03-26 06:38] KAVINKARNAN commented on #27
ISSUE FIXED
Status: **Done**

[2016-03-26 06:51] mugilansoft commented on #27
inventory form defect owner saranaya
![issues5](https://cloud.githubusercontent.com/assets/16263469/14058620/47030f52-f34c-11e5-9e95-f6483af3875e.png)
contract summary details defect owner arthi
![issues2](https://cloud.githubusercontent.com/assets/16263469/14058625/7b2590f2-f34c-11e5-8315-3e52bcfdbd6d.png)

cc invoice form defect owner sasi kala
![issues3](https://cloud.githubusercontent.com/asse

[2016-03-26 07:16] arthisena commented on #27
FOR CONTRACT SUMMARY REPORT WE NEED TO SELECT CONTRACTOR WHICH IS AUTO COMPLETE ,BECAUSE BASED ON CONTRACTOR ONLY WE ARE LOADING CONTRACT NO .

[2016-03-26 07:18] DHANDAPANISATTANATHAN commented on #27
@SasikalaDjeasankar

STOREMAN FORM. Removing contract shld clear all , also shld display form controls as per initial stage

also Return form team selecting nothing loading after clear and save without tiem.

![image](https://cloud.githubusercontent.com/assets/9882142/14058750/ce451362-f350-11e5-9abf-e4b3e2a3d1ea.png)

[2016-03-26 07:30] mugilansoft commented on #27
PAYMENT CLAIM FITTING DETAILS FORM DEFECT OWNER KAVIN
![kk](https://cloud.githubusercontent.com/assets/16263469/14058813/c0448138-f352-11e5-97aa-aae78b6bcf34.png)

[2016-03-26 07:34] Saranya05 commented on #27
Issue fixed in weekly wise excel generation for Inventory form.

[2016-03-26 07:38] DHANDAPANISATTANATHAN commented on #26
# RE OPEN

@BalachandarNatarajan  & @RAJALAKSHMIRAJKUMAR

# why again Inventory report wrongly showing??

# fix it immediately . i need this today!

[2016-03-26 10:06] KAVINKARNAN commented on #27
FIXED REPORT PAYMENT CLAIM FITTING DETAILS DT ISSUE.
Status : **Done**

[2016-03-26 10:49] SasikalaDjeasankar commented on #27
1.Above opened issues regarding Verification of Workdone and Storeman Stock form Validation are fixed.

### Status:fixed

[2016-03-26 10:57] SasikalaDjeasankar commented on #24
Above opened issues regarding Veriification of workdone forms are fixed

### Status:Fixed

[2016-03-28 05:07] mugilansoft commented on #27
IN REPORT GENERATION MENU VERIFICATION OF WORK DONE FORM DEFECT OWNER BALACHANDAR
![issues10](https://cloud.githubusercontent.com/assets/16263469/14071318/f73e06b2-f4d0-11e5-804f-c9d7bf5ccb69.png)

[2016-03-28 05:12] BalachandarNatarajan commented on #27
THE ABOVE ISSUE IS FIXED.

[2016-03-28 05:53] KAVINKARNAN opened #28 "LMC DEFECT ON 28032016 bug"
FIXED THE CONTAINER SIZE  BELOW THE FORMS.

![dashboard](https://cloud.githubusercontent.com/assets/13195784/14071852/3ab29646-f4d7-11e5-9be1-7eaec05e5e83.PNG)

![project chat](https://cloud.githubusercontent.com/assets/13195784/14071863/499cb0e2-f4d7-11e5-8dab-1d0e8a8d0b6e.PNG)

[2016-03-28 06:18] arthisena commented on #28
FIXED THE ABOVE OPENED ISSUE

[2016-03-28 07:16] arthisena commented on #28
fix the above **issue,owner:KK**
![accdeint from](https://cloud.githubusercontent.com/assets/11833575/14072982/f2e88f44-f4e2-11e5-92c6-e3f6a837481f.PNG)

[2016-03-28 07:50] KAVINKARNAN commented on #28
FIXED THE ABOVE OPENED ISSUE
STATUS:**DONE**

[2016-03-28 09:13] DHANDAPANISATTANATHAN commented on #28
@KAVINKARNAN

Who told to restrict Work permit No validate Number ONLY?

Dont do anything without my knowledge?

change work permit allow alpha numeric immediately!

[2016-03-28 09:24] KAVINKARNAN commented on #28
Initially itself like that only if you want to restrict means back end side also need to change.

[2016-03-28 09:29] arthisena commented on #28
IF DATA IS MORE MEANS TABLE IS FULLY COMING TO NEXT PAGE IN PAYMENT CLAIM FITTING DETAILS PDF :OWNER SO
![def1](https://cloud.githubusercontent.com/assets/11833575/14075293/685cbe82-f4f5-11e5-9eec-43e07f4b2501.png)
![def2](https://cloud.githubusercontent.com/assets/11833575/14075296/6cb9b3a4-f4f5-11e5-8e92-cbbaf75e5603.png)

[2016-03-28 10:00] sophiyaB commented on #28
@arthisena

DAILY REPORT ENTRY FORM . REPORT NOT SAVED WITHOUT ITEM ENTRY BUT THAT FIELD NOT MANDATORY FIELD.

![report](https://cloud.githubusercontent.com/assets/16128538/14075804/f57ad566-f4f9-11e5-9f3a-2dc2a0a23d1c.png)

[2016-03-28 10:01] sophiyaB commented on #28
PAYMENT CLAIM FITTING DETAILS PDF ISSUE - **FIXED**

[2016-03-28 10:35] mugilansoft commented on #28
@BalachandarNatarajan
IN REPORT GENERATION MENU VERIFICATION OF WORK DONE IN DATA TABLE SHOWNING DATE WRONGLY
![issuse13](https://cloud.githubusercontent.com/assets/16263469/14076385/dbef67a6-f4fe-11e5-8bd2-7a542564a86b.png)

[2016-03-28 11:08] arthisena commented on #28
**REPORT ENTRY FORM**:

ITEM LOADING IN VERIFICATION OF WORK DONE IS BASED ON REPORT ENTRY FORM,SO ONLY WE CHANGED SITE STOCK  AS MANDATORY IN SP SIDE NOT IN FORM SIDE. WITHOUT ITEM ENTRY IT WON'T SAVE,IF YOU WANT TO CHANGE MEANS,ONLY BACK END SIDE NEED TO CHANGE NOT IN FORM SIDE

[2016-03-28 11:14] DHANDAPANISATTANATHAN commented on #28
@arthisena  & @SasikalaDjeasankar

# Which doc client gave? who told ???

[2016-03-28 12:08] KAVINKARNAN commented on #28
@BalachandarNatarajan

INVENTORY REPORT DT SHOWING NULL
![inventory_report](https://cloud.githubusercontent.com/assets/13195784/14077675/b53f81ce-f50b-11e5-8745-dc01b7343765.PNG)

[2016-03-28 12:23] mugilansoft commented on #28
@BalachandarNatarajan

REPORT GENERATION MENU FITTING LIST REPORT FORM DATE PICKER NOT SHOWING PROPERLY
![issuse14](https://cloud.githubusercontent.com/assets/16263469/14077859/e0cf64ec-f50d-11e5-87d5-1105748d3684.png)
![issuse15](https://cloud.githubusercontent.com/assets/16263469/14077860/e0d31a10-f50d-11e5-82b6-289704bca787.png)

[2016-03-28 13:52] BalachandarNatarajan commented on #28
THE ABOVE ISSUES ARE FIXED.

[2016-03-29 08:47] DHANDAPANISATTANATHAN commented on #28
# LMC TEAM FIX THE BELOW

![defcect_28032016](https://cloud.githubusercontent.com/assets/9882142/14102552/f8bd3826-f5b8-11e5-899e-9e11a3b67e98.png)

[2016-03-29 09:52] mugilansoft opened #29 "LMC DEFECT ON 29032016"
@BalachandarNatarajan
IN INVENTORY SYSTEM MENU INVENTORY LIST ENTRY / UPDATE FORM  D T SHOWING WHITE SPACE
![issuse17](https://cloud.githubusercontent.com/assets/16263469/14104269/edf3f3fe-f5c1-11e5-8d0f-88e92dc23fe6.png)

[2016-03-29 11:15] BalachandarNatarajan commented on #26
TO FIX THE ABOVE WEEKLY INVENTORY LIST REPORT, IN FORM SIDE START DATE AND END DATE OF SELECTED WEEK IS CALCULATED AND ARRAY OF DATES ALSO CALCULATED FOR BOTH CURRENT WEEK AND OTHER WEEKS.

[2016-03-29 12:11] sophiyaB commented on #29
@RAJALAKSHMIRAJKUMAR

IN PROJECT CHART FORM THE PROJECT TIMELINE AND UPDATE TIMELINE OVERLAPPING
BECAUSE OF END DATE NULL SO QUERY WANT TO CHANGE .

[2016-03-29 13:38] mugilansoft commented on #29
@SasikalaDjeasankar
IN REPORT SUBMISSION MENU VERIFICATION OF WORK DONE FORM
![issue18](https://cloud.githubusercontent.com/assets/16263469/14109844/9c1dc4ea-f5e1-11e5-8600-ae08262a4336.png)

[2016-03-29 13:44] SasikalaDjeasankar commented on #29
@RAJALAKSHMIRAJKUMAR

While saving verification of workdone, success flag returning 0 but main table record saved so we are getting issue in payment claim form.

[2016-03-30 03:55] RAJALAKSHMIRAJKUMAR commented on #29
Verification of work done form owner need to pass id for item.

[2016-03-30 04:10] BalachandarNatarajan commented on #29
IN PAYMENT CLAIM FITTING REPORT,QUANTITY MUST BE THE NUMBER OF ITEMS USED IN VERIFICATION OF WORK DONE AND THE AMOUNT MUST BE THE MULTIPLE OF QUANTITY AND SUPPLIER PRICE.

[2016-03-30 06:29] mugilansoft opened #30 "LMC DEFECT ON 30032016"
IN REPORT GENERATION MENU CONTRACT STATUS FORM CHANGE THE DATA  AS LEFT ALIGNMENT AND DECREASE THE COLUMN WIDTH

![3001](https://cloud.githubusercontent.com/assets/16263469/14133649/a2ecd652-f66e-11e5-8503-1ab18bf813b0.png)

[2016-03-30 09:26] SasikalaDjeasankar commented on #30
![untitled](https://cloud.githubusercontent.com/assets/10355002/14137856/7855bc42-f687-11e5-91cf-e9a98b53af78.png)

[2016-03-30 09:59] arthisena commented on #30
RESTRICTED DUPLICATE ENTRY FOR PUBLIC HOLIDAY ENTRY
STATUS :DONE

[2016-03-30 10:19] mugilansoft commented on #30
@KAVINKARNAN
WORK ORDER MENU WORK ORDER CREATION FORM
![3002](https://cloud.githubusercontent.com/assets/16263469/14139135/e023aa4e-f68e-11e5-83b0-0ef1dffe0bed.png)
![3003](https://cloud.githubusercontent.com/assets/16263469/14139136/e0261478-f68e-11e5-975b-9161b289b117.png)

[2016-03-30 10:54] mugilansoft commented on #30
@BalachandarNatarajan
INVENTORY SYSTEM MENU INVENTORY REPORT FORM
![3004](https://cloud.githubusercontent.com/assets/16263469/14139929/c3834804-f693-11e5-9845-667aae7cc528.png)

[2016-03-30 11:05] SasikalaDjeasankar commented on #30
![untitled](https://cloud.githubusercontent.com/assets/10355002/14140214/50712cbc-f695-11e5-9453-f069d8c850bd.png)

[2016-03-30 12:49] sophiyaB commented on #30
CONTRACT STATUS PDF ISSUE - **FIXED**

[2016-03-30 12:51] sophiyaB commented on #30
@BalachandarNatarajan
PAYMENT CLAIM DETAILS FORM AND FITTING LIST DETAILS FORM WANT TO VALIDATE FOR PDF BUTTOM

![3006](https://cloud.githubusercontent.com/assets/16128538/14142529/ef9eeb9a-f6a3-11e5-8d07-4ef1e752f123.png)

[2016-03-30 13:19] KAVINKARNAN commented on #30
OPENED CONTACT AND WORK ORDER FORMS ISSUES FIXED.

STATUS:**DONE**

[2016-03-31 05:36] KAVINKARNAN commented on #24
Except amount validation all other issues are fixed.(issue no:#24)

[2016-03-31 05:40] KAVINKARNAN commented on #25
Issue no #25  Fixed all
### Status :closed

[2016-03-31 05:40] #25 closed

[2016-03-31 05:45] KAVINKARNAN commented on #27
Issue no #27  Fixed all
### Status :closed

[2016-03-31 05:45] #27 closed

[2016-03-31 05:53] KAVINKARNAN commented on #26
AUDIT HISTORY PDF LOGO AND ADDRESS PENDING.

[2016-03-31 06:04] KAVINKARNAN commented on #28
PROJECT CHART UPDATED TIME LINE  OVER LAP PENDING.(ISSUES NO:#28)

[2016-03-31 06:08] KAVINKARNAN commented on #29
Issue no #30  Fixed all
### Status :closed

[2016-03-31 06:08] #29 closed

[2016-03-31 06:12] KAVINKARNAN commented on #30
CONTRACT STATUS  DT  DATA AS LEFT ALIGNMENT PENDING(ISSUE NO:#30)

[2016-03-31 06:17] DHANDAPANISATTANATHAN opened #31 "LMC DEFECT ON 31032016"
# LMC TEAM

FIX THE BELOW

![lmc_31032016](https://cloud.githubusercontent.com/assets/9882142/14167048/20d72e38-f736-11e5-8ba2-477fe25ae303.png)

# CR

SKL - 1.1.PROJECT / CONTRACT LISTING

AI - CONTRACT SUMMARY

[2016-03-31 07:55] sophiyaB commented on #31
ABOVE PAYMENT CLAIM DETAILS PDF AND CONTRACT STATUS  PDF ISSUE - **FIXED**

[2016-03-31 08:10] SasikalaDjeasankar commented on #31
@SN sir

1.As per the above Workdone form OIC field need to add in table also need to change SP.

2.PROJECT / CONTRACT LISTING need to Query to fetch the Details.

Before 1 hour itself i asked query to Rajalakshmi, she is sticked in one form SP last 2 days so my task and all blocked.

[2016-03-31 08:48] DHANDAPANISATTANATHAN commented on #31
@SasikalaDjeasankar

RL will do what you asked.

[2016-03-31 09:04] arthisena commented on #31
FIXED THE ABOVE ISSUE FOR VERIFICATION OF WORK DONE,EXCEPT THAT OIC FIELD,THAT NEED TO ADD IN TABLE THEN ONLY I CAN ABLE TO SHOW

[2016-03-31 09:21] RAJALAKSHMIRAJKUMAR commented on #31
@SasikalaDjeasankar

OIC field added in work done verification table  n sp also changed. (dev schema i ran)

[2016-03-31 09:58] RAJALAKSHMIRAJKUMAR commented on #31
PROJECT / CONTRACT LISTING QUERY GIVEN TO SKL

[2016-03-31 10:39] BalachandarNatarajan commented on #31
@RAJALAKSHMIRAJKUMAR
DO USED QNTY CALCULATION FOR PAYMENT CLAIM FITTING DETAILS IN THAT,SUBTRACT THE ITEMS QNTY OF VERIFICATION OF WORK DONE FROM THE  ORIGINAL QNTY IN INVENTORY FITTING LIST.

[2016-03-31 13:30] BalachandarNatarajan commented on #31
FIXED THE PDF ALIGNMENT AND DT HEADER FOR UNDERSTANDING IN BOTH CONTRACT STATUS AND PAYMENT CLAIM FITTING DETAILS FORMS.

[2016-03-31 13:32] SasikalaDjeasankar commented on #31
1.As per the above Workdone form OIC field fixed in all workdone form.s

2.PROJECT / CONTRACT LISTING report completed with pdf.

### Status :DONE

[2016-04-04 09:39] RAJALAKSHMIRAJKUMAR commented on #31
LMC TEAM
Below form sp completed

1.Contract insert, update sp  (amount data type changed)
2.Work order insert, update sp (one work order assign to multiple team)
3.Verification of work done sp (1. Status = without upload CC undone, 2. with upload CC done)
4.Report submission insert, update sp (site stock get from inventroy item creation table)
5.Auto generate sp completed for invoice, quotation &

[2016-04-04 12:19] DHANDAPANISATTANATHAN commented on #28
@sophiyaB

* status: to_be_clarify

# Why chart overlap not closed?

# This is your task.You shld responsible.Reply

[2016-04-04 12:25] sophiyaB commented on #28
That overlap issued is not in form side it in DB side so i ask RL to change and give query she told she is busy with another work so first she finish that one than she will give but she didnt give. So only it pending sir.

[2016-04-04 12:37] DHANDAPANISATTANATHAN commented on #28
@RAJALAKSHMIRAJKUMAR

# Why delay this? Why not fixed ?

[2016-04-04 13:17] SasikalaDjeasankar commented on #31
@RAJALAKSHMIRAJKUMAR

workdone sp return success flag as zero but its saved in main table, already regard this issue, i updated in github for that only we passed cfl_id for avoiding duplicate issue, but now same issue i am getting.

[2016-04-04 13:23] DHANDAPANISATTANATHAN opened #32 "LMC PDF DEFECT"
@sophiyaB

# Why font size reduced comparing VWD,PC..??

# Record the previous owner name and fix it

[2016-04-05 04:35] DHANDAPANISATTANATHAN opened #33 "LMC CR 31/3"
@ LMC TEAM,

Storeman inventory List Sample in the below SS

https://docs.google.com/spreadsheets/d/1wOB8UaFF1VO6bd1I6ozY17f_pYSWEJfAXqISEPdhv5M/edit#gid=1033105383

[2016-04-05 04:40] DHANDAPANISATTANATHAN commented on #33
* status: to_be_clarify

@ LMC TEAM

Those who have doubt in LMC update me immediately

Dont tell later. i

[2016-04-05 04:51] SasikalaDjeasankar commented on #33
@RAJALAKSHMIRAJKUMAR

For CC Invoice , Need update also change the Sp as per this.

[2016-04-05 05:50] RAJALAKSHMIRAJKUMAR commented on #28
@sophiyaB

chart sp issue fixed ran in dev schema

[2016-04-05 05:55] Saranya05 commented on #33
@RAJALAKSHMIRAJKUMAR

Need to add one column "GST AMT" in Quotation details sp.

[2016-04-05 05:55] arthisena commented on #28
In Quotation and Invoice Sp extra one field need to add for gst

[2016-04-05 06:21] RAJALAKSHMIRAJKUMAR commented on #31
@SasikalaDjeasankar

Issue fixed in workdone sp. sp ran in dev schema u check & tell.

[2016-04-05 06:44] RAJALAKSHMIRAJKUMAR commented on #33
@Saranya05

GST AMT added in quotation insert, update sp. sp ran in dev schema.

[2016-04-05 06:50] RAJALAKSHMIRAJKUMAR commented on #28
@arthisena

Added gst in quotation& invoice sp. sp ran in dev schema.

[2016-04-05 10:41] SasikalaDjeasankar commented on #28
@RAJALAKSHMIRAJKUMAR

I UPDATED WHAT ARE THE SP'S NEED FOR MY FORM IN SS

https://docs.google.com/spreadsheets/d/111bqz_SxNy15DnFh90MFGgijCaEBJO-RYdgt78WkWC0/edit#gid=737273244

[2016-04-05 11:48] RAJALAKSHMIRAJKUMAR commented on #28
@SasikalaDjeasankar

1.Commission percentage parameter added in cc invoice creation sp.
2.Update sp completed for cc invoice.
3.Completion certificate no need sp because already in sp we are updating only for completion certificate

[2016-04-05 13:01] sophiyaB commented on #32
They are the previous owner of the  pdf.

VWD ,DRAFT,PAYMENT ,INVOICE  PDF - KK
CC PDF - BC

going to fix the about issue.

[2016-04-05 14:40] DHANDAPANISATTANATHAN opened #34 "LMC DEFECT ON 05/04/2016"
# LMC TEAM

FIX THE BELOW ISSUE

![def_05042016](https://cloud.githubusercontent.com/assets/9882142/14285750/4b234af8-fb7f-11e5-99b5-65ddcb644993.png)

[2016-04-06 05:19] BalachandarNatarajan commented on #34
THE ABOVE ISSUES WHATEVER OPENED TO BC ARE FIXED. EXCEPT UNIT PRICE UPDATE IN INVENTORY DUE TO SP NEED TO CHANGE BUT FORM SIDE IS COMPLETED.

[2016-04-06 05:49] RAJALAKSHMIRAJKUMAR commented on #34
@BalachandarNatarajan
Unit price parameter added in contract fitting list sp.

[2016-04-06 06:35] KAVINKARNAN commented on #34
FIXED OPENED ISSUES IN CONTRACT,WORK ORDER AND FITTING LIST FORMS,
STATUS:**DONE**

[2016-04-06 08:26] DHANDAPANISATTANATHAN commented on #33
# @SasikalaDjeasankar & LMC TEAM,

# Today i need all lmc pending shld complete. I m not asking now,
# All shld reply this tracker what is the status now?

# Test well and deliver

[2016-04-06 10:23] BalachandarNatarajan commented on #34
WHILE  ENTER ISSUE_ITEM QUANTITY_BALANCE FOR NEXT DATE SHOWINGWRONGLY.

[2016-04-06 13:21] KAVINKARNAN commented on #34
@DHANDAPANISATTANATHAN
1.FIXED OPENED ISSUES IN CONTRACT,WORK ORDER AND FITTING LIST FORMS,
2.DID 2 FILTER OPTION FOR  VWD REPORT (PAYMENT CLAIM DONE,CC RECEIVED YES AND PAYMENT CLAIM DONE,CC RECEIVED NO).

STATUS:**DONE**

[2016-04-06 13:21] arthisena commented on #34
@DHANDAPANISATTANATHAN
1.loaded stock item details from inventory in report entry,update and search form
2.done button validation and number validation for invoice report form
STATUS :**DONE**

[2016-04-06 13:22] sophiyaB commented on #33
@DHANDAPANISATTANATHAN
1. INVOICE AND QUOTATION PDF - DONE
2. Designed the new pdf for invoice summary report.

[2016-04-06 13:22] KAVINKARNAN commented on #33
@DHANDAPANISATTANATHAN
1.FIXED OPENED ISSUES IN CONTRACT,WORK ORDER AND FITTING LIST FORMS,
2.DID 2 FILTER OPTION FOR VWD REPORT (PAYMENT CLAIM DONE,CC RECEIVED YES AND PAYMENT CLAIM DONE,CC RECEIVED NO).

STATUS:**DONE**

[2016-04-06 13:23] arthisena commented on #33
@DHANDAPANISATTANATHAN
1.Loaded stock item details from inventory in report entry,update and search form
2.Did button validation and number validation for invoice report form
STATUS :**DONE**

[2016-04-06 13:26] Saranya05 commented on #33
@DHANDAPANISATTANATHAN
1. In Quotation form Design, validation, save and update part as done.
2. Loaded data table and getting error displayed as done

[2016-04-06 13:28] RAJALAKSHMIRAJKUMAR commented on #33
@DHANDAPANISATTANATHAN
1.Did inventory report sp for search by project name & work order no
2.Did migration for inventory item

[2016-04-06 13:47] BalachandarNatarajan commented on #33
1.fixed quantity_balance in issue_return item form.
2.did report for both project name and work order number

##pending
1.Inventory report
  Need SP  for both contract_no and date options.
2.As per the inventory sample migration need to change the form design with save and update part.

[2016-04-06 13:49] SasikalaDjeasankar commented on #33
## @DHANDAPANISATTANATHAN

As per the CR 31/03 we completed all task.

### PENDING

Already updated by BALA

1.Inventory report
Need SP for both contract_no and date options.
2.As per the inventory sample migration need to change the form design with save and update part.

[2016-04-07 04:22] DHANDAPANISATTANATHAN commented on #33
@SasikalaDjeasankar

Give all latest script to me immediately. also I hope all tested well!

[2016-04-07 06:40] RAJALAKSHMIRAJKUMAR commented on #33
@LMC TEAM

All form owner pls check all forms working in dev or not. Because nw i am added in sql warning in sp side so if u r getting any issue means inform me.

[2016-04-07 10:17] sophiyaB commented on #34
In REPORT GENERATION MENU PROJECT/ CONTRACT LISTING  FORM
![untitled](https://cloud.githubusercontent.com/assets/16128538/14348096/fc56b36a-fcd7-11e5-94c4-ee1fa8881b49.png)

[2016-04-07 10:21] sophiyaB commented on #34
IN REPORT GENERATION MENU INVOICE SUMMARY FORM
![untitled1](https://cloud.githubusercontent.com/assets/16128538/14348202/96ee42a8-fcd8-11e5-806b-499b563f3851.png)

[2016-04-07 10:24] sophiyaB commented on #34
IN REPORT GENERATION MENU  INVOICE FORM

![07-04-2016 03-53-10 pm](https://cloud.githubusercontent.com/assets/16128538/14348269/f8d38960-fcd8-11e5-8517-6d7cca81694a.png)

[2016-04-07 10:34] sophiyaB commented on #34
IN REPORT GENERATION MENU QUOTATION FORM

![untitled2](https://cloud.githubusercontent.com/assets/16128538/14348485/688bdc8e-fcda-11e5-8abf-b146d6d01a9a.png)

[2016-04-07 10:47] sophiyaB commented on #34
IN REPORT GENERATION MENU VERIFICATION WORK DONE FORM

![untitled3](https://cloud.githubusercontent.com/assets/16128538/14348739/2c467e62-fcdc-11e5-86f0-0c8f38681496.png)

[2016-04-07 11:01] sophiyaB commented on #34
@SasikalaDjeasankar

IN REPORT SUBMISSION MENU VERIFICATION OF WORK DONE FORM

![1](https://cloud.githubusercontent.com/assets/16128538/14349093/392010b0-fcde-11e5-89c2-29ab020c1e78.png)

[2016-04-07 11:13] KAVINKARNAN commented on #34
@SasikalaDjeasankar
@RAJALAKSHMIRAJKUMAR
CC FORM NOT SAVE  MSG SHOWING
![invoice 07](https://cloud.githubusercontent.com/assets/13195784/14349226/3908e1e6-fcdf-11e5-9d7d-a2eb40434b04.PNG)

VWD FORM AMOUNT SHOWING OUT OF RANGE
![darfbile](https://cloud.githubusercontent.com/assets/13195784/14349304/9df8e268-fcdf-11e5-8db3-c49343365313.PNG)

[2016-04-07 11:29] sophiyaB commented on #34
@RAJALAKSHMIRAJKUMAR
@SasikalaDjeasankar

IN REPORT SUBMISSION MENU PAYMENT CLAIM FORM

![4](https://cloud.githubusercontent.com/assets/16128538/14349646/f7d15502-fce1-11e5-836e-8855323659eb.png)

[2016-04-07 12:12] SasikalaDjeasankar commented on #34
As per the issue CC INVOICE FORM  not saved, Latest table not in INT schema.

### Status: DONE

[2016-04-07 12:16] sophiyaB commented on #34
LMC TEAM

IN INVENTORY SYSTEM MENU INVENTORY STORE MAN STOCK FORM

![5](https://cloud.githubusercontent.com/assets/16128538/14350705/98903a0c-fce8-11e5-82f7-b53f82cd1f78.png)

[2016-04-07 12:24] Saranya05 commented on #34
Fixed unit price validation in  Quotation From.

**Status: DONE**

[2016-04-07 12:25] arthisena commented on #34
As per the above issue for invoice form in report generation record not saved and not updated is fixed
STATUS **DONE**

[2016-04-07 12:28] sophiyaB commented on #34
@DHANDAPANISATTANATHAN
REPORT GENERATION,REPORT SUBMISSION AND INVENTORY CHECKED TODAY
PENDING IS WORKORDER, CONTRACT, AND WORKER PROFILE MENU WANT TO CHECK

[2016-04-07 12:35] DHANDAPANISATTANATHAN commented on #34
* status:to_be_clarify

# LMC TEAM,

When only all issued going to close, I need today all shld fix.

Reply each def owner.

[2016-04-07 13:00] SasikalaDjeasankar commented on #34
@RAJALAKSHMIRAJKUMAR

For Workdone form , I already opened regarding this issue.From sp side success flag coming zero but main table record saved, so that only this issue got.

Some times this issue not getting.

refer link:
https://github.com/SSOMENSREPO/LMC-TS/issues/31

### STATUS :TO BE CLARIFY

[2016-04-07 13:04] RAJALAKSHMIRAJKUMAR commented on #34
@SasikalaDjeasankar

I checked that one for me working only. Tell me which scenario not working then only i can check & fix this issue.

Status : **To be clarify**

[2016-04-07 13:12] RAJALAKSHMIRAJKUMAR commented on #34
@LMC TEAM

I am going to drop and recreate dev_lmc schema.

[2016-04-07 13:14] RAJALAKSHMIRAJKUMAR commented on #34
@DHANDAPANISATTANATHAN

Inventory report sp finished.

pending : Need to check work done verification sp (some times rollback not working properly)

[2016-04-07 13:17] SasikalaDjeasankar commented on #34
@RAJALAKSHMIRAJKUMAR

I don't know when  its coming, sophiya only opened this issue. I am showing correctly error message because I am getting flag  0 . you need to restrict in SP if both table inserted only u need to commit. otherwise rollback.

## STATUS :CLARIFIED

[2016-04-07 13:30] BalachandarNatarajan commented on #33
REPORT FOR INVENTORY SYSTEM IS COMPLETED.

[2016-04-07 22:11] lmc commented on #33
Please double-check your usernames, you're alerting the wrong person. (Also double-check your permissions, this probably shouldn't be public)

[2016-04-08 04:38] sophiyaB opened #35 "LMC DEFECT ON 08-04-2016"
**LMC TEAM**
IN REPORT GENERATION FORM PROJECT/CONTRACT LISTING FORM

![12](https://cloud.githubusercontent.com/assets/16128538/14374281/ca548140-fd71-11e5-890e-544fa52673fe.png)

[2016-04-08 05:13] safiyullahmohideen commented on #35
@RAJALAKSHMIRAJKUMAR

Chart sp not showing record if contract start date and end date in different month-

ex:start date-may month, end date-jun month like this records not showing data in chart

[2016-04-08 05:29] RAJALAKSHMIRAJKUMAR commented on #34
@SasikalaDjeasankar
I changed work done verification sp n ran in dev schema. Check all scenario n tell me. Also check via toad also.

Status : **Done**

[2016-04-08 05:30] sophiyaB commented on #35
@arthisena
@saranya05

in report generation menu invoice and quotation form
both form allowing zero in the unit price field want to validate

![13](https://cloud.githubusercontent.com/assets/16128538/14374889/e1850a68-fd78-11e5-9c63-2ef5d26b5ecc.png)

[2016-04-08 05:40] arthisena commented on #35
@RAJALAKSHMIRAJKUMAR

IN REPORT UPDATE DELETE IS NOT WORKING TODAY ONLY I TESTED

[2016-04-08 05:47] sophiyaB commented on #35
@arthisena  @saranya05

in report generation menu invoice and quotation form
![14](https://cloud.githubusercontent.com/assets/16128538/14375113/7ab721f6-fd7b-11e5-8c58-10b596c64698.png)

[2016-04-08 06:11] sophiyaB commented on #35
@saranya05  @KAVINKARNAN

in report generation menu verfication work done form pdf

![15](https://cloud.githubusercontent.com/assets/16128538/14375405/c21a20e0-fd7e-11e5-958e-8a2d85dfa363.png)

[2016-04-08 06:14] lmc commented on #34
Stop mentioning me

[2016-04-08 06:18] Saranya05 commented on #35
Update code is not there in ** INT SERVER** in report generation menu verification work done form pdf

[2016-04-08 06:26] RAJALAKSHMIRAJKUMAR commented on #35
@safiyullahmohideen
I checked chart sp in integration working only. For may to june record cumming in sp.

Status:**Done**

[2016-04-08 09:27] DHANDAPANISATTANATHAN commented on #35
* status: Defect

# Frist list:

Fix the below quickly and deliver

![def_08042016](https://cloud.githubusercontent.com/assets/9882142/14379880/18303d04-fdaf-11e5-8a69-a53fd9188b67.png)

[2016-04-08 09:32] arthisena commented on #35
@RAJALAKSHMIRAJKUMAR
 INVOICE REPORT FORM
    1.NEED TO ADD 5 DIGITS  FOR INVOICE AUTO INCREMENT
    2. ADD ONE MORE COLUMN AS UOM

[2016-04-08 09:36] RAJALAKSHMIRAJKUMAR commented on #35
@DHANDAPANISATTANATHAN
1.I forget to truncate pubilc holiday table nw am trunacted
2.Missed to insert data in document category table nw data inserted nw check.

Status : **Done**

[2016-04-08 09:49] RAJALAKSHMIRAJKUMAR commented on #35
@arthisena
1.Added 5 digit for invoice auto increment
2.Added uom column in invoice table & invoice insert, update sp
above sp ran in dev schema.

Status:**Done**

[2016-04-08 09:52] SasikalaDjeasankar commented on #35
As per the Issue opened for me

1.SITE STOCK ALREADY DESIGNED ,I AM NOT THE OWNER  - ## INVALID
2.FOR INVOICE CHANGE THE AUTOGENERATE(SP) AS PER THE CLIENT SAMPLE.
3.INITIALIZE TABLE IT NOT IN INT SCHEMA ISSUE OWNER - SQL TEAM

[2016-04-08 10:39] RAJALAKSHMIRAJKUMAR commented on #35
@SasikalaDjeasankar
Auto generate sp changed for cc invoice sp ran in dev schema

Status:**Done**

[2016-04-08 10:40] arthisena commented on #35
@DHANDAPANISATTANATHAN
 ISSUE OPENED FOR INVENTORY STOREMAN,I AM NOT THE FORM OWNER

[2016-04-08 13:22] DHANDAPANISATTANATHAN commented on #35
# Second List

![def_08042016_1](https://cloud.githubusercontent.com/assets/9882142/14384839/e75171d2-fdcf-11e5-9650-b345960b6251.png)

[2016-04-08 13:34] RAJALAKSHMIRAJKUMAR commented on #35
@DHANDAPANISATTANATHAN
Documentation menu removed for supervisor role. Nw check in int.
Status:**Done**

[2016-04-08 14:06] safiyullahmohideen commented on #35
Tested pdf for verification of workdone,draft bill,payment claim for 2 pages...

But in excel only while opening in open office MS word showing like this, bit working in open office

![draftbill_xls](https://cloud.githubusercontent.com/assets/10239569/14385952/708dc852-fdc0-11e5-974e-cb80bc499ed9.png)

in payment claim...last row fully shaded but in sample upto subtotal only shaded

![payment](htt

[2016-04-08 14:06] BalachandarNatarajan commented on #35
FIXED THE FITTING LIST TAGGING ALIGNMENT AND RESTRICTED THE DUPLICATION OF SKU NUMBER .
STATUS: **DONE**

[2016-04-08 14:17] safiyullahmohideen commented on #35
@DHANDAPANISATTANATHAN

tested pdf link uploaded here

https://drive.google.com/drive/folders/0Bzvv-O9jT9r_dVdRWjQ0bnRub2s

[2016-04-08 14:52] DHANDAPANISATTANATHAN commented on #35
* status: to_be_Clarify.

@safiyullahmohideen

Safi you are the responsible for all pdf.if any issue i ll ask you only, So check and open defect.

Tmrw i need all pdf like clone of client sample.use int.

# DEF: VWD pdf. 2 copies. But page now for the second copy 3,4 came. Check well.

[2016-04-09 05:17] safiyullahmohideen opened #36 "LMC DEFECT ON 09-04-2016"
@sophiyaB

Quotation and invoice not loading correctly.

![quo](https://cloud.githubusercontent.com/assets/10239569/14401932/5bb020ee-fe40-11e5-8465-ccdd779d51c1.png)
![invoice](https://cloud.githubusercontent.com/assets/10239569/14401935/628755cc-fe40-11e5-8262-cb3a547b83d4.png)

[2016-04-09 05:25] sophiyaB commented on #36
QUOTATION AND INVOICE PDF ISSUE-** FIXED**

IN INVOICE FORM AND DB ADDED NEWLY COLUMN
that not update in form and db side in int so only this issue came after they updated means the issue not come.

[2016-04-09 05:27] sophiyaB commented on #35
PAYMENT CLAIM PDF ISSUE - **FIXED**

[2016-04-09 05:36] RAJALAKSHMIRAJKUMAR commented on #36
@sophiyaB
UOM column newly added in invoice table nw i ran in int.

[2016-04-09 06:44] DHANDAPANISATTANATHAN commented on #35
# def

![def_0904](https://cloud.githubusercontent.com/assets/9882142/14402238/95d1ab6e-fe61-11e5-9941-a7a02a85833f.png)

[2016-04-09 07:47] safiyullahmohideen commented on #36
if location typed more means like that pdf and DT showing ...

![vwd](https://cloud.githubusercontent.com/assets/10239569/14402500/58773d80-fe55-11e5-8677-9993b855ea2c.png)
![vwddt](https://cloud.githubusercontent.com/assets/10239569/14402501/5f35cbfa-fe55-11e5-89e2-fa40ef3a551c.png)

[2016-04-09 10:02] DHANDAPANISATTANATHAN commented on #35
@safiyullahmohideen

Give all pdf like client sample, I want to take print out, I need now.

Reply

[2016-04-09 10:33] DHANDAPANISATTANATHAN commented on #36
# DEFECT

# FIX THE BELOW IMMEDIATELY

![def_08042016_2](https://cloud.githubusercontent.com/assets/9882142/14403212/8a4c84b6-fe6c-11e5-84b7-0386152fe835.png)

[2016-04-09 10:39] arthisena commented on #36
FOR INVOICE FORM THAT 6 DIGIT ADDED IN DB

[2016-04-09 10:44] sophiyaB commented on #36
ISSUE IS NOT IN INVOICE PDF YESTERDAY THEY DIDNT CHANGE THE NEW ADDED ROW IN DB AND FORM SIDE IN INT.

SO ONLY THE TABLE NO SHOW IN THE INVOICE PDF.

[2016-04-09 10:44] SasikalaDjeasankar commented on #36
@RAJALAKSHMIRAJKUMAR

Alter Datatype for amount field in workdone item details as 13,2

[2016-04-09 10:54] safiyullahmohideen commented on #35
@DHANDAPANISATTANATHAN
 Pdf taken as client sample  here

https://drive.google.com/drive/folders/0Bzvv-O9jT9r_aHpKWmszSUllUlk

[2016-04-09 11:36] DHANDAPANISATTANATHAN commented on #36
# DEFECT LIST 2

# FIX THE BELOW

![def_0904-1](https://cloud.githubusercontent.com/assets/9882142/14403482/4e755928-fe75-11e5-88af-a247714ff7d3.png)

[2016-04-09 12:18] RAJALAKSHMIRAJKUMAR commented on #36
@SasikalaDjeasankar
Work done verification item dtls amount field data type changed n ran in dev schema.

[2016-04-09 14:07] arthisena commented on #36
1.cleared the opened issue for report entry , update form and invoice report form

[2016-04-09 14:12] KAVINKARNAN commented on #36
FIXED OPENED ISSUES IN WORK ORDER AND  CONTRACT SUMMARY   FORMS.

STATUS:**Done**

[2016-04-09 14:44] BalachandarNatarajan commented on #36
FIXED CONTRACT STATUS DT ALIGNMENT AND DATE'S LABEL CHANGED THEN FIXED WEEKLY INVENTORY REPORT FOR DIFFERENT ITEMS AND DATES OF ISSUE AND RETURN.
STATUS:**DONE**

[2016-04-10 11:41] DHANDAPANISATTANATHAN opened #37 "LMC DEFECT ON 10/04/2016"
# DEFECT LIST

# FIX ALL BY MONDAY 11/04/2016

# SAFI - Check well all pdf. still issues are there. Fix all and deliver it

![def_10042016](https://cloud.githubusercontent.com/assets/9882142/14409938/e599fce0-ff3e-11e5-87ba-7aaf9e5d9a92.png)

[2016-04-11 05:58] safiyullahmohideen commented on #37
@sophiyaB

issue in Contract summary pdf and form

![cs](https://cloud.githubusercontent.com/assets/10239569/14417970/7be91642-ffd8-11e5-8fe3-921c0db4ace2.png)
![cspdf](https://cloud.githubusercontent.com/assets/10239569/14417971/7befb010-ffd8-11e5-9d6a-649084ef7a94.png)

[2016-04-11 08:17] BalachandarNatarajan commented on #37
FIXED ALL ISSUES WHATEVER OPENED FOR ME.
STATUS:**DONE**

[2016-04-11 13:15] sophiyaB commented on #37
CONTRACT SUMMARY PDF ISSUES - **FIXED**

[2016-04-11 13:18] arthisena commented on #37
IN REPORT ENTRY AND UPDATE  FORM FOR STOCK ITEM BABU SIR ASKED TO CHANGE ITEM NAME AS  FIRST THEN ITEM NO  ,I ALSO REPLACED LIKE THAT

[2016-04-11 13:49] SasikalaDjeasankar commented on #37
1.OPENED ISSUES FOR ME ALL FIXED.

PENDING:
INVENTORY STOREMAN-TEAM LOADING DUPLICATE
QUOTATIN PDF

[2016-04-11 13:56] safiyullahmohideen commented on #37
CC invoice invoice number auto generate need to increase in DB side.
![cc_invoice](https://cloud.githubusercontent.com/assets/10239569/14429234/31ceab2a-001a-11e6-9f53-89fd7fc71118.png)

[2016-04-12 09:53] DHANDAPANISATTANATHAN opened #38 "LMC DEFECT ON 12/04/2016"
#  LMC TEAM

# FIX THE BELOW ISSUE IMMEDIATELY.

![def_12042016](https://cloud.githubusercontent.com/assets/9882142/14456400/5bf3bf6e-00c2-11e6-89e7-2980436dcc57.png)

[2016-04-12 12:38] BalachandarNatarajan commented on #38
@RAJALAKSHMIRAJKUMAR
IN WEEKLY INVENTORY REPORT SP, IF ITEM HAVE NO TRANSACTION IN PREVIOUS DATE MEANS TEMPTABLE SHOWS BALANCE QUANTITY WRONGLY.

[2016-04-12 13:25] sophiyaB commented on #38
INVENTORY REPORT PDF AND INVOICE SUMMARY PDF ISSUE - **FIXED**

[2016-04-12 13:30] KAVINKARNAN commented on #38
OPENED ISSUES FOR ME FIXED.
STATUS:**DONE**

[2016-04-13 13:32] sophiyaB commented on #38
REPORT GENERATION MENU

CONTRACT SUMMARY - CHANGED ALIGNMENT, WIDTH, FONT SIZE AND GIVE FOOTER .
VERIFICATION OF WORK DONE - MERGED THE COLUMNS IN THE LAST ROW AND INCREASED THE FONT SIZE OF LAST ROW.
contract listing - changed the alignment of the header of the table and give padding .
invoice summary - changed the spelling of the table header and alignment.

[2016-04-14 13:18] DHANDAPANISATTANATHAN opened #39 "LMC DEFECT ON 13&14/04/2016"
# DEF & REOPEN : LMC TEAM

FIX THE BELOW

# Shld deliver 10.30 am ( 15/04/2016) - CC INV LESS COMMISSION, & ADDRESS ISSUE -OWNER : SKL

![def_14042016](https://cloud.githubusercontent.com/assets/9882142/14529232/2f25a280-0271-11e6-8912-00c7d7652194.png)

[2016-04-15 05:36] BalachandarNatarajan commented on #39
FIXED ISSUES WHATEVER OPENED FOR ME ON 14-04-2016.
STATUS:**DONE**

[2016-04-15 07:36] DHANDAPANISATTANATHAN commented on #39
* status: to_be_Clarify

@BalachandarNatarajan

100.jpg report nothing loading, You didnt reply!

[2016-04-15 07:45] DHANDAPANISATTANATHAN commented on #39
# LMC TEAM,

# TODAY EoD all shld be in G Drive

1. REPORT GENERATION - PDF/EXCEL - SA
2. VWD - PENDING,DBILL, PAYMENT CLAIM - AI
3. REPORT SUBMISSION - KK
4.OTHER FORMS - SA

shld load single page and multiple page pdf & excel sample in the below folder

https://drive.google.com/drive/folders/0B_f0d7mdbV_Uem83bzZsZHVOQ2s

[2016-04-15 10:56] BalachandarNatarajan commented on #39
@DHANDAPANISATTANATHAN
THE QUANTITY FIELD IN 100.jpeg IS BASED ON THE QUANTITY HEADER PREVIOUSLY ADDED IN FITTING LIST TAGGING. BUT NOW THAT ONE IS REMOVED.SO I NEED TO DO THE CALCULATION BASED THE ITEM USED QUANTITY FROM THE PAYMENT CLAIM FITTING DETAILS.

[2016-04-15 11:38] DHANDAPANISATTANATHAN commented on #39
@BalachandarNatarajan

Fix it!

[2016-04-15 12:26] BalachandarNatarajan commented on #39
@RAJALAKSHMIRAJKUMAR
NEED TO CHANGE THE SELECT QUERY TO FIX THE ABOVE QUERY.

[2016-04-15 14:03] arthisena commented on #39
@DHANDAPANISATTANATHAN

FOR DELETE PART IN REPORT UPDATE FORM,WE CHECKED WITH ONE SCENARIO IN THAT IT DELETED WHERE AS WITH SOME OTHER SCENARIO IT IS NOT DELETING NEED TO CHECK IT-AI AND RL
THESE ARE THE SUB SP CHANGED AND CHECKED(MEETING DETAILS,FITTING DETAILS,MATERIA ,MACHINARY & SITE VIST).-RL

[2016-04-15 14:24] Saranya05 commented on #39
@DHANDAPANISATTANATHAN

1.Report Submission and Report Generation Menu.

 Created single page and multiple page pdf & excel sample in the below folder

https://drive.google.com/drive/folders/0B_f0d7mdbV_Uem83bzZsZHVOQ2s

STATUS: **DONE**

[2016-04-16 05:00] Saranya05 commented on #39
@BalachandarNatarajan

In Report Generation menu, Fitting Details pdf not downloading because of more than 800 records..

[2016-04-16 06:20] DHANDAPANISATTANATHAN commented on #39
@RAJALAKSHMIRAJKUMAR

All the below shld close today. Cannt wait another day.

1. DAILY REPORT WO CHANGE - AI & RL
2. DAILY REPORT UPDATE DEL - AI & RL
3. CC INV REPORT - KK
4. STOREMAN - QTY VALIDATION - SKL & RL
5. STOREMAN - ISSUE RETUREN INV ADD AND REDUCE - SKL & RL

# NOTE : ALL FIXES SHLD BE IN INT TODAY. START DELIVER ON 4 PM ONWARDS.

[2016-04-16 06:23] BalachandarNatarajan commented on #39
PDF FOR  Fitting Details  MORE THAN 800 RECORD IS FIXED.
STATUS:**DONE**

[2016-04-16 08:58] Saranya05 commented on #39
Def in Excel and pdf for Report Generation and Report Submission.

![def](https://cloud.githubusercontent.com/assets/15356550/14580069/4a05938e-03df-11e6-8da5-126ffafec541.png)

[2016-04-16 09:40] Saranya05 commented on #39
@arthisena
In Report Submission menu, Completion certificate pdf and excel differently showing.

[2016-04-16 10:50] Saranya05 commented on #39
Def in Completion certificate and Fitting details excel

![def](https://cloud.githubusercontent.com/assets/15356550/14580577/dd005d04-03ee-11e6-8b19-3f673b917a84.png)

[2016-04-16 11:36] arthisena commented on #39
fixed the above opened issue for verification of work done,payment claim,draft bill (both pdf and excel)

[2016-04-16 12:22] RAJALAKSHMIRAJKUMAR commented on #39
LMC TEAM
What ever today completed i ran all in integration. So all form owner give the script to sn sir.

@DHANDAPANISATTANATHAN
Except report delete all other pending work completed in sql side. Nw only i am started report delete.

[2016-04-19 04:25] DHANDAPANISATTANATHAN commented on #39
#  LMC TEAM

# Use time zone SGT , DONT USE IST.

# Del the connection file - AI

# Immediately push in GIT HUB all completed LMC

[2016-04-19 04:33] arthisena commented on #39
REMOVED THE CONNECTION FILE AND UPLOADED IN GIT HUB

On Tue, Apr 19, 2016 at 9:55 AM, DHANDAPANISATTANATHAN <
notifications@github.com> wrote:

[2016-04-20 12:34] SasikalaDjeasankar opened #40 "LMC DEFECT ON 20/04/2016"

[2016-04-20 12:49] BalachandarNatarajan commented on #40
1.JOB DONE IN DAILY REPORT  IS NOT SAVED AND UPDATED - AI & RL.
2.QUANTITY FIELD ALLOWS DECIMAL IN SAME FORM - AI.

[2016-04-20 13:00] KAVINKARNAN commented on #40
1.INTERNAL USED NOT COME IN DRAFT BILL,PAYMENT CLAIM AND CC FORMS -SKL
2.DRAFT BILL EXCEL NAME WRONGLY SHOWING -SA
3.REASON FOR PENDING,DRAFT BILL SET WIDTH IN EXCEL-SA
4 IN FIREFOX PENDING EXCEL NOT DOWNLOADING PROPER FORMAT -SA

[2016-04-20 13:15] SasikalaDjeasankar commented on #40
FIXED OPENED ISSUES IN WORKER PROFILE,INVENTORY ITEM,WORKDONE FORMS

### STATUS:FIXED

[2016-04-20 13:22] arthisena commented on #40
1. SETTINGS UPDATE FOR PORT NO,SENDER MAIL ,HOST,SMPT SECURE,PASSWORD NEED TO CHANGE THE DATE FORMAT IN TIME STAMP-KK

[2016-04-20 13:31] BalachandarNatarajan commented on #40
1.FIXED PAYMENT CLAIM FITTING DETAILS NOT LOADING ANY OPTION IS NOT THERE BY SHOWING ERROR MSG.
**STATUS:FIXED**

[2016-04-21 06:29] KAVINKARNAN commented on #40
FIXED OPENED ISSUES FOR CONTRACT FORM  AND SETTING UPDATE FORM.
STATUS:**DONE**

[2016-04-21 09:13] KAVINKARNAN opened #41 "LMC DEFECT ON 21/04/2016"
@SasikalaDjeasankar
1.SEARCH BY DRAFT NO. NOT WORKING. ADDED LM IN DRAFT NO. FOR ALL VWD FORMS.
2.SEARCH BY CUSTOMER NAME REPEATEDLY COMING.

[2016-04-21 11:12] arthisena commented on #40
FIXED THE ABOVE ISSUE OPENED FOR DAILY REPORT UPDATE
STATUS:**DONE**

[2016-04-21 12:59] SasikalaDjeasankar commented on #41
FIXED ABOVE OPENED ISSUES.

### STATUS :FIXED

[2016-04-22 05:17] DHANDAPANISATTANATHAN commented on #40
#  LMC TEAM, - 22/04/2016 - Task

#  Check all client documents, All r completed or any pending, I need report
# Check all opened defect , if any pending , shld close,

# Need all pdf & excel latest in G Drive.

# Test all forms

[2016-04-22 12:07] DHANDAPANISATTANATHAN commented on #40
# LMC TEAM,

Update status. Shld update which document who checked.
Where to see all pdf & excel with latest in G drive.

Reply All!

[2016-04-22 13:18] arthisena commented on #40
CHECKED THE LMC DOCUMENT 31/3 (CC INVOICE REF) IN THAT DATE RANGE IS MISSING FOR INVOICE SUMMARY
https://drive.google.com/drive/folders/0B0KangOyYg_pRWh6ZEpJVE1yVXM

[2016-04-22 13:19] KAVINKARNAN commented on #40
CHECKED THIS TWO DOCUMENTS.INSTEAD OF DB AMOUNT,DC AMOUNT IS THERE IN VERIFICATION WORK DONE FORM.

https://docs.google.com/document/d/1dfY78T80VyyD8bpfxRlRwQdPiu-kWCSBPil9b6QhLIc/edit

https://docs.google.com/presentation/d/1D_TLEA7j-UK8q5AGE6xFP3yHmCFDvuBCPMu1Ia75gmo/edit?ts=5719afdb#slide=id.p27

SAMPLE  PDF AND EXCEL LINK:
https://drive.google.com/drive/folders/0B9QU2krlNOd9ZkQ5bUVNOVR1WG8

[2016-04-23 06:48] BalachandarNatarajan commented on #41
1.THERE IS A SPELLING MISTAKE IN QUOTATION DT(USERSTAMP) -SA
2.MISSED (at)  IN TERMS AND CONDITION OF QUOTATION  PDF-SKL
3.THERE IS A SPELLING MISTAKE IN INVOICE DT(USERSTAMP) -AR

[2016-04-23 07:08] DHANDAPANISATTANATHAN commented on #41
# LMC TEAM

Fix the issue opened by your team members

[2016-04-25 02:48] DHANDAPANISATTANATHAN opened #42 "LMC CR ON 25/04/2016"
# LMC TEAM,

Public holiday shld change import from excel file.

[2016-04-25 13:05] KAVINKARNAN commented on #42
PUBLIC HOLIDAY  IMPORT FROM EXCEL SHEET.
STATUS :**DONE**